* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --success-btn: #32a852;
  --danger-btn: #ef4f5f;
}
.pe-cursor {
  cursor: pointer;
}
.header {
  border-radius: 10px;
  font-size: 1.2rem;
  position: sticky;
  z-index: 3;
}
.logo img {
  height: 60px;
  width: auto;
  object-fit: cover;
}

.app-title {
  font-weight: bold;
  color: var(--success-btn);
}
.header ul li {
  width: fit-content;
  padding: 0.4rem 0.9rem;
  font-size: 1rem;
  font-weight: bolder;
  list-style-type: none;
  color: black;
  border-radius: 2.9rem;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}
.header .nav-items li:hover {
  background-color: var(--danger-btn) !important;
  color: #ffffff;
}
.header .nav-items li:hover > a {
  color: #ffffff;
}
.header ul li > a {
  color: var(--danger-btn);
}
body {
  overflow-x: hidden !important;
}

.footer {
  background-color: var(--success-btn);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer li {
  font-weight: bolder;
  color: #ffffff;
  list-style-type: none;
}

.btn-success {
  border-radius: 0.75rem;
}
.recipe-container {
  height: 100%;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.recipe-len {
  color: var(--success-btn);
  font-size: 16px;
}

.recipe-card {
  width: 19rem;
}

.recipe-name {
  color: black;
  font-weight: 600;
}

.btn-dark {
  border: 0.5rem solid transparent;
  border-radius: 1px;
  outline: none;
}

.recipe-name-with {
  color: var(--success-btn);
  font-weight: 600;
  line-height: 2px;
}

.no-data-image img {
  height: 100px;
  width: 100px;
  user-select: none;
}
.search-bar input {
  width: 400px;
}

.recipe-name h4 {
  font-size: 12px !important;
}
.card-img-top {
  max-height: 112px !important;
  min-height: 112px !important;
  width: auto !important;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.recipe-card {
  border: 1px solid whitesmoke;
  border-radius: 10px !important;
  overflow: hidden;
}
.recipe-card:hover {
  box-shadow: 1px 1px 15px 4px whitesmoke;
}
.recipe-details-button button {
  font-size: 12px !important;
  justify-self: end;
  font-weight: 600;
  border-radius: 2px;
  color: var(--danger-btn);
  border: 0.1rem solid var(--danger-btn);
  font-family: "Poppins", sans-serif !important;
  outline: none;
}

.recipe-details-button button:focus {
  box-shadow: 0 0 0 0.25rem var(--danger-btn) !important;
}

.recipe-details-button .btn:hover {
  background-color: var(--danger-btn);
  color: #ffffff;
}

.recipe-modal {
  z-index: 10;
  position: absolute;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 3px;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  width: 60vw;
  box-shadow: 0px 0px 14px 100px #2125291a;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(1px);
}

.recipe-modal-img {
  height: 212px;
  width: 100%;
}

.recipe-modal-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
}

.recipe-modal title {
  font-weight: bolder;
}

.summary {
  font-size: 12px;
}

.recipe-modal close {
  z-index: 11;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 2px;
  background-color: gainsboro;
  cursor: pointer;
  height: 10px;
  width: 10px;
}
.recipe-modal close img {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.recipe-modal .steps li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: transparent !important;
}
.recipe-modal .steps li .each-step {
  border: none;
  font-size: 16px;
}
.recipe-modal .steps .ingridients-involved {
  color: var(--danger-btn) !important;
  font-weight: bolder;
  font-size: 15px;
}

.recipe-modal .announce {
  height: 50px;
  width: 40px;
}

.recipe-modal .check {
  height: 50px;
  width: 40px;
}

.recipe-modal .btn {
  font-size: 12px !important;
  justify-self: end;
  font-weight: 600;
  border-radius: 2px;
  color: var(--danger-btn);
  border: 0.1rem solid var(--danger-btn);
  font-family: "Poppins", sans-serif !important;
  outline: none;
}

.recipe-modal .btn:hover {
  background-color: var(--danger-btn);
  color: #ffffff;
}

.para {
  width: 100%;
  margin: 1rem;
}

.para span,
.collections {
  color: var(--danger-btn);
  font-weight: 200;
  font-family: "Lobster Two", cursive;
}

.para p {
}
.para-image {
  height: 100%;
  width: 335px;
}

.para-content > div {
  flex-basis: 30%;
}
