* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --success-btn: #32a852;
  --danger-btn: #ef4f5f;
}
.pe-cursor {
  cursor: pointer;
}

.header {
  border-radius: 10px;
  font-size: 1.2rem;
  position: sticky;
  z-index: 3;
}
.logo img {
  height: 60px;
  width: auto;
  object-fit: cover;
}

.app-title {
  font-weight: bold;
  color: var(--success-btn);
}
.header ul li {
  width: fit-content;
  padding: 0.4rem 0.9rem;
  font-size: 1rem;
  font-weight: bolder;
  list-style-type: none;
  color: black;
  border-radius: 2.9rem;
  transition: background 300ms ease-in-out;
  cursor: pointer;
}
.header .nav-items li:hover {
  background-color: var(--danger-btn) !important;
  color: #ffffff;
}
.header .nav-items li:hover > a {
  color: #ffffff;
}
.header ul li > a {
  color: var(--danger-btn);
}
body {
  overflow: hidden !important;
}

.footer {
  background-color: var(--success-btn);
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.footer li {
  font-weight: bolder;
  color: #ffffff;
  list-style-type: none;
}

.btn-success {
  border-radius: 0.75rem;
}
.recipe-container {
  height: 100%;
  max-height: calc(100vh - 14vh);
  overflow-y: auto;
  overflow-x: hidden;
}
.recipe-len {
  color: var(--success-btn);
  font-size: 16px;
}

.btn-dark {
  border: 0.5rem solid transparent;
  border-radius: 1px;
  outline: none;
}

.no-data-image img {
  height: 100px;
  width: 100px;
  user-select: none;
}
.search-bar input {
  width: 400px;
}
/* .card-img-top {
  max-height: 112px !important;
  min-height: 112px !important;
  width: auto !important;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
} */

.recipe-card {
  overflow: hidden;
  width: 15rem !important;
  height: 17rem !important;
  background-repeat: none;
  background-position: center;
  backdrop-filter: contrast(1) blur(0.5) !important;
  cursor: pointer;
  background-size: cover;
  border-radius: 20px !important;
  border: 0.1rem solid #f5f5f5 !important;
}
.recipe-card:hover {
  box-shadow: 1px 1px 15px 10px whitesmoke;
}
.recipe-name h4 {
  font-size: 0.75rem !important;
  border-radius: 20px !important;
  text-align: center;
  white-space: nowrap;
  width: 12rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recipe-details-button button {
  font-size: 0.8rem !important;
  justify-self: end;
  border: 0.1rem solid transparent !important;
  border-radius: 20px !important;
  color: white;
  background-color: var(--danger-btn);
  font-family: "Poppins", sans-serif !important;
  outline: none;
}

.recipe-details-button button:hover {
  background-color: #fefefe;
  color: black;
}

.recipe-modal {
  /* z-index: 10;
  position: absolute; */
  height: 70vh;
  overflow: hidden auto;
  background-color: #fefefe;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 16px;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  width: 60vw;
  /* box-shadow: 0 0 81px 88px #f5f5f5; */
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(1px);
}

.recipe-modal title {
  font-weight: bolder;
}

.recipe-modal .summary {
  font-size: 14px;
  letter-spacing: 1.4px;
}
.recipe-modal .summary::marker {
  display: none !important;
}

.recipe-modal close {
  z-index: 11;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 2px;
  background-color: gainsboro;
  cursor: pointer;
  height: 10px;
  width: 10px;
}
.recipe-modal .steps li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: none !important;
  background: transparent !important;
}
.recipe-modal .steps li .each-step {
  border: none;
  font-weight: 500 !important;
  font-size: 15px;
}
.recipe-modal .ing-container .ingridients-involved {
  color: var(--danger-btn) !important;
  font-weight: bold !important;
  font-size: 15px;
}

.recipe-modal .ing-container .ingridients-involved img {
  width: 3rem;
  height: 1.5rem;
}
.recipe-modal .announce {
  height: 50px;
  width: 40px;
}

.recipe-modal .check {
  width: 3rem;
  height: 1.5rem;
}

.recipe-modal .btn {
  font-size: 0.9rem !important;
  justify-self: end;
  font-weight: 600;
  border-radius: 2px;
  color: black;
  border: 0.1rem solid black;
  font-family: "Poppins", sans-serif !important;
  outline: none;
  background-color: #fefefe;
}

.recipe-modal .btn:hover {
  background-color: black;
  color: #fefefe;
}

.para {
  width: 100%;
  margin: 0.4rem;
}

.para span,
.collections {
  color: var(--danger-btn);
  font-weight: 200;
  font-family: "Lobster Two", cursive;
}

.para-image {
  height: 100%;
  width: 335px;
}

.para-content > div {
  flex-basis: 40%;
}

.modal-content {
  border: none !important;
}
